<a href="https://colab.research.google.com/github/NovrianPratama/MachineLearning/blob/main/2_Operator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Operator in Python:**

1.  Arithmetic Operators
2.   Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators

# **1. Arithmetic Operators**

In [ ]:
nilai_1 = 5
nilai_2 = 2

# tambah
tambah = nilai_1 + nilai_2
print("Hasil Tambah ",tambah)

# kurang
kurang = nilai_1 - nilai_2
print("Hasil Kurang ",kurang)

# kali
kali = nilai_1 * nilai_2
print("Hasil Kali ",kali)

# bagi
bagi = nilai_1 / nilai_2
print("Hasil Bagi ",bagi)

# pangkat
pangkat = nilai_1 ** nilai_2
print("Hasil Pangkat ",pangkat)

# modulus
modulus = nilai_1 % nilai_2
print("Hasil Modulus ",modulus)

Hasil Tambah  7
Hasil Kurang  3
Hasil Kali  10
Hasil Bagi  2.5
Hasil Pangkat  25
Hasil Modulus  1

# **2. Assignment Operators**

In [ ]:
a = 5
b = 3

# tambah
a += b
print("Hasil Tambah ",a)

# kurang
a -= b
print("Hasil Kurang ",a)

# kali
a *= b
print("Hasil Kali ",a)

# bagi
a /= b
print("Hasil Bagi ",a)

Hasil Tambah  8
Hasil Kurang  5
Hasil Kali  15
Hasil Bagi  5.0

# **3. Comparison Operators**

In [ ]:
a = 5
b = 3

# lebih besar
lebih_besar = a > b
print("Apakah a lebih besar dari b? ",lebih_besar)

# lebih kecil
lebih_kecil = a < b
print("Apakah a lebih kecil dari b? ",lebih_kecil)

# sama dengan
sama_dengan = a == b
print("Apakah a sama dengan b? ",sama_dengan)

# tidak sama dengan
tidak_sama_dengan = a != b
print("Apakah a tidak sama dengan b? ",tidak_sama_dengan)

print(a <= b)
print(a >= b)
print(a <= b)

Apakah a lebih besar dari b?  True
Apakah a lebih kecil dari b?  False
Apakah a sama dengan b?  False
Apakah a tidak sama dengan b?  True
False
True
False

# **4. Logical Operators**

In [ ]:
# and, or, not

a = 5
print(a > 3 and a < 10)
print(a > 3 or a < 4)
print(not(a > 3 or a < 4))

True
True
False

# **5. Identity Operator**

In [ ]:
# is, is not

a = 5
b = 5

print(a is b)
print(a is not b)

True
False

In [ ]:
a = 5
b = 10

print(a is b)
print(a is not b)

False
True

# **6. Memberships Operators**

In [ ]:
# in, not in

a = 5
b = 6

c = [1,2,3,4,5]

print(a in c)
print(b in c)

# menunjukan hasil apakah angka pada variabel berada pada variabel lainnya.

True
False