<a href="https://colab.research.google.com/github/NovrianPratama/MachineLearning/blob/main/1_listTuppleDIct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List

In [ ]:
# contoh list
data_diri = ['Novrian', 22, 2002]
print(data_diri)

['Novrian', 22, 2002]

In [ ]:
# Append yaitu menambahkan data baru pada list
data_diri.append('Mahasiswa')
print(data_diri)

['Novrian', 22, 2002, 'Mahasiswa', 'Mahasiswa']

In [ ]:
# join list
nomor_undian = [1,3,4,2,5,3,5,9]
nomor_undian2 = [3,2,4,5]

nomor_antri = nomor_undian + nomor_undian2
print(nomor_antri)

[1, 3, 4, 2, 5, 3, 5, 9, 3, 2, 4, 5]

In [ ]:
# cara mengambil nilai list
data_diri = ['Novrian', 22, 2002]

print(data_diri[0])

Novrian

In [ ]:
Nilai = ['Daming', 80, 'IT Service', 90]

print(f"Mata kuliah {Nilai[0]}: {Nilai[3]}")
print(f"Mata kuliah {Nilai[2]}: {Nilai[1]}")

Mata kuliah Daming: 90
Mata kuliah IT Service: 80

In [ ]:
Nilai = ['Daming', 80, 'IT Service', 90]

print(f"Mata kuliah {Nilai[0]}: {Nilai[3]}")
print(f"Mata kuliah {Nilai[2]}: {Nilai[1]}")

Nilai.append('Ansi')
print(Nilai)

# mengahapus nilai list
del Nilai[0]
print(Nilai)

Mata kuliah Daming: 90
Mata kuliah IT Service: 80
['Daming', 80, 'IT Service', 90, 'Ansi']
[80, 'IT Service', 90, 'Ansi']

In [ ]:
# join list
nomor_undian = [1,3,4,2,5,3,5,9]
nomor_undian2 = [3,2,4,5]

nomor_antri = nomor_undian + nomor_undian2
print(nomor_antri)

# cara mengetahui jumlah data pada list, sama dengan fungsi count
print(len(nomor_antri))

[1, 3, 4, 2, 5, 3, 5, 9, 3, 2, 4, 5]
12

## TUPLE

In [ ]:
# tuple
tuple1 = (1,2,3,4,5)
print(tuple1)
print(type(tuple1))

(1, 2, 3, 4, 5)
<class 'tuple'>

Convert List to tuple

In [ ]:
# Cara pindahkan tipe data

data_list = [3,5,2,4,'Novrian']
print(data_list)
print(type(data_list))

data_tuple = tuple(data_list)
print(data_tuple)
print(type(data_tuple))

print(len(data_tuple))

[3, 5, 2, 4, 'Novrian']
<class 'list'>
(3, 5, 2, 4, 'Novrian')
<class 'tuple'>
5

Tuple are immutable -> Unchangeable
Jadi tupel tidak dapat dirubah valuenya seperti list dengan mengambil array

In [ ]:
data_tuple.append('coba')

AttributeError: 'tuple' object has no attribute 'append'

# SET

In [ ]:
# Set menggukana kurung kriting {}
data_set = {1,2,5,4,'Novrian'}
print(data_set)
print(type(data_set))

{1, 2, 4, 5, 'Novrian'}
<class 'set'>

In [ ]:
# set tidak boleh memiliki angka duplicate

set2 = {2,3,3,3,5,4,4,2,1}
print(set2)
print(len(set2))

# hasilnya tidak menampilkan angka yang sama lebih dari 1

{1, 2, 3, 4, 5}
5

In [ ]:
# set tidak support indexing

print(set2[0])

TypeError: 'set' object is not subscriptable

In [ ]:
# convert list to set

listnew = [2,3,3,3,5,4,4,2,1]
print(listnew)
print(type(listnew))

setnew = set(listnew)
print(setnew)
print(type(setnew))

[2, 3, 3, 3, 5, 4, 4, 2, 1]
<class 'list'>
{1, 2, 3, 4, 5}
<class 'set'>

## **DICTIONARY**

In [ ]:
# dictionary menggunakan key dan value
# dictionary menggunakan kurung kriting {}

data_dict = {'nama':'Novrian', 'umur':22, 'pekerjaan':'Mahasiswa', 'tinggi':178}
print(data_dict)
print(type(data_dict))

{'nama': 'Novrian', 'umur': 22, 'pekerjaan': 'Mahasiswa', 'tinggi': 178}
<class 'dict'>

In [ ]:
print(f"Saya adalah {data_dict['nama']} berumur {data_dict['umur']}")

Saya adalah Novrian berumur 22

In [ ]:
# dictionary tidak bisa menggunakan value duplicate
data_dict2  = {'nama':'Novrian', 'umur':22, 'pekerjaan':'Mahasiswa', 'tinggi':178, 'kerja':'Mahasiswa', 'tinggi':178}
print(data_dict2)

# hasilnya tidak akan menampilkan key yang sama, harus menggunakan key yang berbeda

{'nama': 'Novrian', 'umur': 22, 'pekerjaan': 'Mahasiswa', 'tinggi': 178, 'kerja': 'Mahasiswa'}